/* Sticky footer styles
      -------------------------------------------------- */
html,body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,#footer {
	height: 60px;
}



#footer {
	background-color: #f3f3f3;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media ( max-width : 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* Custom page CSS
      -------------------------------------------------- */
/* Not required for template or sticky footer method. */
.container {
	width: auto;
	max-width: 680px;
}

.container .credit {
	margin: 20px 0;
}


.hit {
	backgrond-color: #f5f5f5;
	border: 1px solid #e0e0e0;
	margin-top: 2px;
	margin-bottom: 2px;
}

#latField {
	margin-right: 5px;
}

#lonField {
	margin-right: 5px;
}

.red {
	background-color:red;
}

#check {
	float:right;
	font-size: .75em;
}
.orange {
	background-color:orange;
}

.well > span {
	margin-right: 9px;	
}

.address {
	font-weight: bold;
}

.time {
	font-size: .75em;
	color: #77cc77;
}

.location {
	font-size: .75em;
	color: #7777cc;
}

.ip {
	font-size:.75em;
	color: #cc7777;
}

.weather {
	font-size:.75em;
}

.temp {
	font-size: .75em;
}

i {
	margin-left: 3px;
	margin-right: 3px;
	border-radius: 4px;
	float:right;
}